In [1]:
#dependencies and set up
import os
import csv
import pandas as pd
import numpy as np
#load file path
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"
#read files and store in data frames
school_data =pd.read_csv(school_file)
student_data =pd.read_csv(student_file)
# Combine the data into a single dataset.  
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_df.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [4]:
total_school=school_data["School ID"].count()
total_school

15

In [5]:
total_student=student_data["Student ID"].count()
total_student

39170

In [6]:
total_budget=school_data_df["budget"].unique().sum()
total_budget

24649428

In [7]:
average_math_score=school_data_df["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
average_reading_score=school_data_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
percentage_passing_math= school_data_df.loc[school_data_df["math_score"]>=70]
percentage_passing_math
final_percentage_passing_math=percentage_passing_math["Student ID"].count()/total_student*100
final_percentage_passing_math

74.9808526933878

In [10]:
percentage_passing_reading= school_data_df.loc[school_data_df["reading_score"]>=70]
percentage_passing_reading
final_percentage_passing_reading=percentage_passing_reading["Student ID"].count()/total_student*100
final_percentage_passing_reading

85.80546336482001

In [11]:
overall_percentage=percentage_passing_math.loc[percentage_passing_math["reading_score"]>=70]
overall_percentage
final_overall_percentage= overall_percentage["Student ID"].count()/total_student*100
final_overall_percentage

65.17232575950983

In [12]:
summary_df=pd.DataFrame({"Total schools":[total_school],
                         "Total student":[total_student],
                         "Total school budget":[total_budget],
                         "Average Math Score":[average_math_score],
                         "Average Reading Score":[average_reading_score],
                         "% passing math":[final_percentage_passing_math],
                         "% passing reading":[final_percentage_passing_reading],
                         "%overall passing":[final_overall_percentage]
                        })
summary_df["Total school budget"]=summary_df["Total school budget"].map("${:,.2f}".format)
summary_df

,Total schools,Total student,Total school budget,Average Math Score,Average Reading Score,% passing math,% passing reading,%overall passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [35]:
school_group_df=school_data_df.groupby(["school_name","type"])
school_group_df.count().head()
#school_group_df=school_data_df.groupby(["school_name"])
#school_group_df.count().head()

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [24]:
school_total_student=school_group_df["Student ID"].count()
school_total_student

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [25]:
school_total_budget=school_group_df["budget"].mean()
school_total_budget

school_name            type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: budget, dtype: int64

In [26]:
per_student_budget=school_total_budget/school_total_student
per_student_budget

school_name            type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [27]:
school_average_math_score=school_group_df["math_score"].mean()
school_average_math_score

school_name            type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: math_score, dtype: float64

In [28]:
school_average_reading_score=school_group_df["reading_score"].mean()
school_average_reading_score

school_name            type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: reading_score, dtype: float64

In [29]:
school_perc_passing_math=school_data_df.loc[school_data_df["math_score"]>=70]
school_perc_passing_math.count()
school_perc_passing_math_grp=school_perc_passing_math.groupby(["school_name", "type"])
grand_school_passing_math=school_perc_passing_math_grp["Student ID"].count()/school_total_student
grand_school_passing_math

school_name            type
Bailey High School     District    0.666801
Cabrera High School    Charter     0.941335
Figueroa High School   District    0.659885
Ford High School       District    0.683096
Griffin High School    Charter     0.933924
Hernandez High School  District    0.667530
Holden High School     Charter     0.925059
Huang High School      District    0.656839
Johnson High School    District    0.660576
Pena High School       Charter     0.945946
Rodriguez High School  District    0.663666
Shelton High School    Charter     0.938671
Thomas High School     Charter     0.932722
Wilson High School     Charter     0.938677
Wright High School     Charter     0.933333
Name: Student ID, dtype: float64

In [30]:
school_perc_passing_reading=school_data_df[school_data_df["reading_score"]>=70]
school_perc_passing_reading.count()
school_perc_passing_reading_grp=school_perc_passing_reading.groupby(["school_name", "type"])
grand_school_passing_reading=school_perc_passing_reading_grp["Student ID"].count()/school_total_student
grand_school_passing_reading

school_name            type
Bailey High School     District    0.819333
Cabrera High School    Charter     0.970398
Figueroa High School   District    0.807392
Ford High School       District    0.792990
Griffin High School    Charter     0.971390
Hernandez High School  District    0.808630
Holden High School     Charter     0.962529
Huang High School      District    0.813164
Johnson High School    District    0.812224
Pena High School       Charter     0.959459
Rodriguez High School  District    0.802201
Shelton High School    Charter     0.958546
Thomas High School     Charter     0.973089
Wilson High School     Charter     0.965396
Wright High School     Charter     0.966111
Name: Student ID, dtype: float64

In [31]:
overall_perc_school_passing=school_data_df[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"]>=70)]
overall_perc_school_passing
final_overall_percentage_school=overall_perc_school_passing.groupby('school_name')["Student ID"].count()/school_total_student
final_overall_percentage_school

school_name            type
Bailey High School     District    0.546423
Cabrera High School    Charter     0.913348
Figueroa High School   District    0.532045
Ford High School       District    0.542899
Griffin High School    Charter     0.905995
Hernandez High School  District    0.535275
Holden High School     Charter     0.892272
Huang High School      District    0.535139
Johnson High School    District    0.535392
Pena High School       Charter     0.905405
Rodriguez High School  District    0.529882
Shelton High School    Charter     0.898921
Thomas High School     Charter     0.909480
Wilson High School     Charter     0.905826
Wright High School     Charter     0.903333
Name: Student ID, dtype: float64

In [41]:
school_summary_df=pd.DataFrame({
                                "Total student":school_total_student,
                             "Total student budget":school_total_budget,
                             "Per student budget":per_student_budget,
                             "Average math score":school_average_math_score,
                             "Average reading score":school_average_reading_score,
                             "percentage passing math":grand_school_passing_math,
                             "percentage passing reading":grand_school_passing_reading,
                             "percentage overall passing":final_overall_percentage_school})
school_summary_df

,,Total student,Total student budget,Per student budget,Average math score,Average reading score,percentage passing math,percentage passing reading,percentage overall passing
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [43]:
top_performing_df = school_summary_df.sort_values("percentage overall passing", ascending=False)
top_performing_df.head()

,,Total student,Total student budget,Per student budget,Average math score,Average reading score,percentage passing math,percentage passing reading,percentage overall passing
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

In [44]:
bottom_performing_df = school_summary_df.sort_values("percentage overall passing", ascending=True)
bottom_performing_df.head()

,,Total student,Total student budget,Per student budget,Average math score,Average reading score,percentage passing math,percentage passing reading,percentage overall passing
school_name,type,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392